// @import '../../assets/fontawesome/scss/fontawesome';
@import '../../assets/fontawesome/css/all.css';
:host {
    position: relative;
    box-sizing: border-box;
  
    & *,
    & *:before,
    & *:after {
      box-sizing: inherit;
    }
  }