@import 'mixins/color-palette';

:root{
    // Fonts
    --lt-font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

    //Typography
    
    //Font Size
    --lt-font-size-x-small: 0.875rem;
    --lt-font-size-small: 0.875rem;
    --lt-font-size-base: 1rem;
    --lt-font-size-large: 1.125rem;
    --lt-font-size-x-large: 1.25rem;
    --lt-font-size-2x-large: 1.5rem;
    --lt-font-size-3x-large: 1.875rem;
    --lt-font-size-4x-large: 2.25rem;
    --lt-font-size-5x-large: 3rem;
    --lt-font-size-6x-large: 4rem;

    // Font weights
    --lt-font-weight-light: 300;
    --lt-font-weight-normal: 400;
    --lt-font-weight-semibold: 500;
    --lt-font-weight-bold: 700;

    // Line heights
    --lt-line-height-dense: 1.4;
    --lt-line-height-normal: 1.8;
    --lt-line-height-loose: 2.2;

    //Color
    --lt-color-primary-hue: 203;
    --lt-color-primary-saturation: 100%;
    --lt-color-primary-text: var(--lt-color-white);

    --lt-color-success-hue: 110;
    --lt-color-success-saturation: 70%;
    --lt-color-success-text: var(--lt-color-white);

    --lt-color-info-hue: var(--lt-color-primary-hue);
    --lt-color-info-saturation: 10%;
    --lt-color-info-text: var(--lt-color-white);

    --lt-color-warning-hue: 40;
    --lt-color-warning-saturation: 90%;
    --lt-color-warning-text: var(--lt-color-white);

    --lt-color-danger-hue: 10;
    --lt-color-danger-saturation: 95%;
    --lt-color-danger-text: var(--lt-color-white);

    --lt-color-gray-hue: var(--lt-color-primary-hue);
    --lt-color-gray-saturation: 10%;
    --lt-color-gray-text: var(--lt-color-white);

    --lt-color-white: white;
    --lt-color-black: black;

    @include color-palette('primary');
    @include color-palette('success');
    @include color-palette('info');
    @include color-palette('warning');
    @include color-palette('danger');
    @include color-palette('gray');


    // Z index token
    --lt-z-index-drawer: 700;
    --lt-z-index-modal: 800;
    
    //Overlay Token   
    --lt-overlay-bgcolor:hsla(200,20%,10%, 0.5);

    //Border Radius
    --lt-border-radius-small: 0.375rem;
    --lt-border-radius-medium: 0.375rem;
    --lt-border-radius-large: 0.5rem;
    --lt-border-radius-full: 9999px;
    //Transition
    --lt-transition-x-slow: 1000ms;
    --lt-transition-slow: 500ms;
    --lt-transition-medium: 250ms;
    --lt-transition-fast: 150ms;
    --lt-transition-x-fast: 50ms;

    //shadow
    --lt-shadow-x-small: 0 0 0 1px rgba(0, 0, 0, 0.05);
    --lt-shadow-small: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    --lt-shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --lt-shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --lt-shadow-x-large: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);

    //Spaceing
    --lt-spacing-3x-small: 0.125rem; // 2px
    --lt-spacing-2x-small: 0.25rem; // 4px
    --lt-spacing-x-small: 0.5rem; // 8px
    --lt-spacing-small: 0.75rem; // 12px
    --lt-spacing-medium: 1rem; // 16px
    --lt-spacing-large: 1.25rem; // 20px
    --lt-spacing-x-large: 1.75rem; // 28px
    --lt-spacing-2x-large: 2.25rem; // 36px
    --lt-spacing-3x-large: 3rem; // 48px
    --lt-spacing-4x-large: 4.5rem; // 72px

    //panel for drawer / modal
    --lt-panel-background-color : white;
    --lt-panel-close-button-size : var(--lt-spacing-large);

    //sidemenu
    --lt-sidemenu-link-color-hover : var(--lt-color-info-90);
}
