/*
    The following variables can be overridden

    --lt-sidemenu-l1-background
    --lt-sidemenu-l1-background-hover
    --lt-sidemenu-l1-link-color
    --lt-sidemenu-l1-border-color
    --lt-sidemenu-l1-fontsize
            
    --lt-sidemenu-l2-background
    --lt-sidemenu-l2-link-color
    --lt-sidemenu-l2-border-color
    --lt-sidemenu-l2-fontsize
    
    --lt-sidemenu-background
    --lt-sidemenu-link-color
    --lt-sidemenu-link-color-hover
    --lt-sidemenu-fontsize
*/


a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    text-decoration: none;
    // background-color: var(--lt-sidemenu-background, #fff);
    color: var(--lt-sidemenu-link-color, #1d2b42);
    font-size: var(--lt-sidemenu-fontsize, 1rem);
  
    &[aria-haspopup="true"]::after {
      width: 5px;
      height: 5px;
      border-top-width: 0;
      border-left-width: 0;
      border-bottom-width: 2px;
      border-right-width: 2px;
      border-style: solid;
      border-color: var(--lt-sidemenu-link-color, #1d2b42);
      
      transform: rotate(-45deg);
      transition: transform 0.1s ease;
      content: "";
    }
  
    &[aria-expanded="true"]::after {
      transform: rotate(45deg);
      margin-right: 6px;
      margin-top: 3px;
    }
  
    &:hover {
      color: var(--lt-sidemenu-link-color-hover, #007acc);
    }
  }
  
  
  :host([depth="1"]) {
    > a {
    //   background-color: var(--lt-sidemenu-l1-background, #797979);
      color: var(--lt-sidemenu-l1-link-color, #333);
      border-bottom: 1px solid var(--lt-sidemenu-l1-border-color, #1d2b42);
      font-size: var(--lt-sidemenu-l1-fontsize, 1rem);
  
      &::after {
        border-color: #fff;
      }
  
      &:hover {
        // background-color: var(--lt-sidemenu-l1-background-hover, #000);
        color: var(--lt-sidemenu-l1-link-color-hover, #000);
      }
    }
  }
  
  :host([depth="2"]) {
    > a {
      background-color: var(--lt-sidemenu-l2-background, #fff);
      color: var(--lt-sidemenu-l2-link-color, #1d2b42);
      border-bottom: 1px solid var(--lt-sidemenu-l2-border-color, #ccc7c1);
      font-size: var(--lt-sidemenu-l2-fontsize, 1rem);
  
      &:hover {
        color: var(--lt-sidemenu-link-color-hover, #007acc);
      }
    }
  }
  
  .lt-sidemenu-children {
    opacity: 0;
    overflow: hidden;
    max-height: 0;
    transition: all 0.2s ease;
  }
  
  a[aria-expanded="true"] ~ .lt-sidemenu-children {
    opacity: 1;
    max-height: 1000px;
    height: auto;
  }